
.thumbnail {
    margin-bottom: 5vh;
}

.thumbnail > img {
    height: 300px;
}

.thumbnail > h3 {
    position: absolute;
    margin-top: -100px;
    color: $complimentary-color;
}

.thumbnail > h3 span {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
}
